<div>
<%= render "shared/header" %>
</div>


<div class="user-profile">
  <div class="profile-heading">
    <div class="main">
      <div class="inner">
        <div class="user__wrapper">
        <% if user_signed_in? %>
          <% if current_user.id == @user.id %>
            <div class="user-edit-btn">
              <li><%=  link_to 'プロフィールを編集する', edit_user_registration_path, class: 'edit-btn' %></li>
            </div>
          <% else %>
          <% end %>
        <% end %>

          <div class="page-title">
            <p>生産者のプロフィール</p>
          </div>
            <div class="red-line"></div>
          <div class="profile-image-wrapper">
            <%= image_tag @user.avatar ,class: "profile-image" %>

          </div>




          <!--ユーザー詳細情報-->
          <div class="user-info">
            <div class="table">
                <div class="user-info-list">
                  <div class="table__col1">名前</div>
                  <div class="table__col2"><%= @name %></div>
                </div>

                <div class="user-info-list">
                  <div class="table__col1">お住まい</div>
                  <div class="table__col2"><%= @prefecture %></div>
                </div>

                <div class="user-info-list">
                  <div class="table__col1">事業者名</div>
                  <div class="table__col2"><%= @business_name %></div>
                </div>

                <div class="user-info-list">
                  <div class="table__col1">プロフィール</div>
                  <div class="table__col3"><%= @profile %></div>
                </div>
            </div>
          </div>
          <!--ユーザー詳細情報-->
      </div>
    </div>
  </div>


  <% if user_signed_in? %>
     <% if current_user.id == @user.id %>
      <div class="user-edit-btn">
        <li><%=  link_to 'プロフィールを編集する', edit_user_registration_path, class: 'edit-btn' %></li>
        <div class="home-btn">
          <%= link_to "トップページに戻る", root_path, class: 'top-btn' %>
        </div>
      </div>
    <% else %>
      <div class="home-btn">
        <%= link_to "トップページに戻る", root_path, class: 'top-btn' %>
      </div>
    <% end %>
  <% end %>
</div>

  <div class="posted-contents-wrapper">
    <div class="posted">
      <h3  class="posted-user-name"><b><%= @user.name %>さんの投稿一覧</b></h3>
      <div class="red-line"></div>
      <h2 class="posted-user-contents"></h2>
        <div class="posted-user-content">
          <% @user.posts.each do |post| %>
            <div class="posted-img-text">
              <div class="posted-img">
                <%= link_to image_tag(post.image, class: :card__img), post_path(post.id) %>
              </div>
              <div class="posted-text">
              <a href="/#/<%= post.id %>"><%= post.post_text %></a>
              </div>
            </div>
          <% end %>
          <h3  class="posted-user-name"><b><%= @user.name %>いいねしている投稿</b></h3>
                <div class="red-line"></div>
          <% @user.liked_posts.each do |post| %>
            <div class="posted-img">
                <%= link_to image_tag(post.image, class: :card__img), post_path(post.id) %>
            </div>
            <div class="posted-text">
              <a href="/#/<%= post.id %>"><%= post.post_text %></a>
            </div>
          <% end %>
        </div>
    </div>
  </div>

</div>
<%= render "shared/footer" %>
</div>


