<h2 class="page-heading">編集post</h2>

  <%= form_with(model: @post, local: true) do |f| %>

    <div class="field">
      <%= f.label :post_text, "投稿内容" %><br />
      <%= f.text_field :post_text %>
    </div>

    <div class="field">
      <%= f.label :image, "画像" %><br />
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit "保存する", class: :form__btn  %>
    </div>

  <% end %>


<%= render "shared/footer" %>