<div>
<div class="main">
  <div class="share-header">
    <div class="header-logo">
      <%= link_to image_tag("farm-chef-logo.png", class:"farm-chef-icon"), "/" %>
    </div>
    <div class='search-bar-contents'>
      <form class="search-form" action="#">
          <input class='input-box' placeholder='キーワードから探す'>
        <button class="search-button" >検索</button>
      </form>
    </div>

    <div class="user-bar">
          <%# ログインしているときは以下を表示する %>
      <% if user_signed_in? %>
    <div class="my-profile-area" id="lists">
      <div class="profile-icon">
        <%= link_to image_tag("profile-icon-img.png", class:"profile-icon"), "/" %>
      </div>
      <div class="test-btn3"> 
        <%= link_to "マイページ", "/users/#{current_user.id}", class: :test__btn3%>
      </div>
    </div> 
    <% else %>
          <%#// ログインしているときは上記を表示する %>
    <% end %>
    <div class="user-status">
    <% if user_signed_in? %>
      <div class="profile-icon" >
        <%= link_to image_tag("logout-img.png", class:"profile-icon"), "/" %>
      </div>
      <div class="user-status-info" >
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%></li>
      </div>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <li><%= link_to '新規登録', new_user_registration_path %></li>
    <% end %>
  </div>
</div>
</div>

   <div class="service-massages">
      <div class="service-massage">
        <%= link_to image_tag("cabbage.png", class:"service-massage-img"), "/" %>
      </div>
      <div class="service-vision">
        <b>Farm Chef（ファームシェフ）は農家と料理人をつなげる法人向けのサービスです</b>
      </div>
      <div class="arrow-area">
        <%= link_to image_tag("arrow.png", class:"arrow-img"), "/" %>
      </div>
    </div>




<div class="main">
  <div class="top-main-contents">

    <div class="service-massages">

      <!--div class="header-ber-lists">
        <ul class="show-lists hidden" id="pull-down">
          <li>リスト1</li>
          <li>リスト2</li>
          <li>リスト3</li>
          <li>リスト4</li>
        </ul>
      </div-->



    </div>



    <div class="heading-img">
      <div class="out">
        <img src="">
        <input type=radio name="slide" id="slide1">
        <input type=radio name="slide" id="slide2">
        <input type=radio name="slide" id="slide3">
        <input type=radio name="slide" id="slide4">
        <div class="in">
            <label for="slide1"><span></span><a href="#1"><%= link_to image_tag("farmcheflogo.jpg", class:"img"), "/posts" %></a></label>
            <label for="slide2"><span></span><a href="#2"><%= link_to image_tag("owned-media.png", class:"img"), "/posts" %></a></label>
            <label for="slide3"><span></span><a href="#3"><%= link_to image_tag("post-view.png", class:"img"), "/posts" %></a></label>
            <label for="slide4"><span></span><a href="#4"><%= link_to image_tag("post-view.png", class:"img"), "/users" %></a></label>
        </div>
      </div>
    </div>
    

    <div class="concep-message">
      <p>
      <br><b>プラットフォームの説明</b>
      <br><b>イラストなどで表現</b>
      </p>
    </div>

    <div class="search-users">
      <div class="search-user">

        <div class="user-box-left">
          <div class="search-user-garlic-img">
            <%= link_to image_tag("garlic-and-basil.png", class:"service-massage-img"), "/" %>
            <div class="search-content">
              <p class="user-description">多様な生産者と繋がることができる。季節や地域の美味しさを味わう人へ。 様々な食材とであえます。</p>
              <div class="user-box-btn">
                <%= link_to "料理人を探す", new_user_path, class: 'test-btn3' %>
              </div>
            </div>
          </div>
        </div>

        <div class="user-box-right">
          <div class="search-user-calotte-img">
            <%= link_to image_tag("calotte.png", class:"service-massage-img"), "/" %>
            <div class="search-content">
              <p class="user-description">新しい顧客を見つけられる。規格外の野菜を売ることが可能になります。</p>
              <div class="user-box-btn">
                <%= link_to "生産者を探す", users_path, class: 'test-btn3' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="arrow-area">
      <%= link_to image_tag("arrow.png", class:"arrow-img"), "/" %>
    </div>

    <div class="service-description">
      <b class="service-description-title">※みんなの投稿を促すメッセージを追加</b>
    </div>

    <div class="home-posts">
      <div class="card__wrapper_img">
        <h1 class="page-title" >みんなの投稿</h1>
        <div class="red-line"></div>
          <div class="card-main">
            <div class="posts-list-top">
              <% @posts.each do |post| %>

                <div class="card-contents-lists-top">

                  <div class="card-img-wrapper">
                    <div class="card-img-top">
                      <%= link_to image_tag(post.image, class: :card__img__top), post_path(post.id) %>
                    </div>
                  </div>

                  <div class="card-content-top">
                    <div class="postuser-img-name-date">
                      <div class="post-date-top">
                        <p><%= post.created_at.strftime('%Y/%m/%d') %> </p>
                      </div>
                      <div class="postuser-img-top">
                        <%=link_to image_tag(post.user.avatar, class: :card__im__top) %>
                      </div>
                      <div class="postuser-name-top">
                          <%= link_to "#{post.user.name}", user_path(post.user.id), class: :card__user__top %>
                      </div>
                    </div>

                    <div class="card-text-top">
                      <%= link_to post.post_text, post_path(post.id), class: :card__text__top %>
                    </div>
                    <div class="like-count">
                     いいね! <%= post.likes.count %>
                    </div>

                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="top-page-posts-btn">
      <%= link_to "全ての投稿を見る", posts_path, class: 'user-btn' %>
    </div>

    <div class="top-page-posts-btn">
      <%= link_to "全ての投稿を見る", posts_path, class: 'test-btn' %>
    </div>

    <div class="top-page-posts-btn">
      <%= link_to "全ての投稿を見る", posts_path, class: 'test-btn2' %>
    </div>

    <div class="top-page-posts-btn">
      <%= link_to "全ての投稿を見る", posts_path, class: 'test-btn3' %>
    </div>



    <div class="media-img">
      <%= link_to image_tag("media-list.png", class:"media-list-img"), "/" %>
    </div>

  </div>
</div>






<div>
<%= render "shared/footer" %>
</div>