<div>
<%= render "shared/header" %>
</div>

<div class="main">

  <div class="post-container">
    <div class="top-page-posts-btn">
      <%= link_to "投稿一覧", posts_path, class: 'test-btn2' %>
    </div>
    <h1 class="page-title" >詳細ページ</h1>
      <div class="red-line"></div>
      <% if user_signed_in? && current_user.id == @post.user_id %>
      <div class="post__manage">
          <%= link_to "編集する",  edit_post_path, class: :post__btn %>
          <%= link_to "削除する",  post_path, method: :delete, class: :post__btn %>
      </div>
      <% end %>

      <div class="post-content-show">
        <div class="post-body">
          <div class="post__user__name">
            <%= link_to @post.user.name , root_path, class: :hoge %>
          </div>
          <p><%= @post.created_at %> </p>
          <div class="post__detail">
            <%= image_tag @post.image,class: "profile-image" %>
          </div>
          <div class="post__text">
            <%=  @post.post_text %>
          </div>
        </div>
      </div>
  </div>
</div>

<div>
<%= render "shared/footer" %>
</div>